ADF/pipeline/GENERAL_PART_1B.json
{
	"name": "GENERAL_PART_1B",
	"properties": {
		"activities": [
			{
				"name": "If INT_PPM_206",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_PPM_206')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline3",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PPM_206_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@pipeline().parameters.SourceFolder",
										"type": "Expression"
									},
									"DestinationFolder": {
										"value": "@pipeline().parameters.DestinationFolder",
										"type": "Expression"
									},
									"LogFolder": {
										"value": "@pipeline().parameters.LogFolder",
										"type": "Expression"
									},
									"SourceArchiveFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": "ppm",
									"DestinationArchiveFolder": {
										"value": "@pipeline().parameters.DestinationArchiveFolder",
										"type": "Expression"
									},
									"StagingFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ORACLE",
									"DestinationSystem": "ROSS"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_SCM_205",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_SCM_205')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline9",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SCM_205_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@pipeline().parameters.SourceFolder",
										"type": "Expression"
									},
									"DestinationFolder": {
										"value": "@pipeline().parameters.DestinationFolder",
										"type": "Expression"
									},
									"LogFolder": {
										"value": "@pipeline().parameters.LogFolder",
										"type": "Expression"
									},
									"SourceArchiveFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": "scm",
									"DestinationArchiveFolder": {
										"value": "@pipeline().parameters.DestinationArchiveFolder",
										"type": "Expression"
									},
									"StagingFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ORACLE",
									"DestinationSystem": "ROSS"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_SCM_201",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_SCM_201')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline4",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SCM_201_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@pipeline().parameters.SourceFolder",
										"type": "Expression"
									},
									"DestinationFolder": {
										"value": "@pipeline().parameters.DestinationFolder",
										"type": "Expression"
									},
									"LogFolder": {
										"value": "@pipeline().parameters.LogFolder",
										"type": "Expression"
									},
									"SourceArchiveFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": "scm",
									"DestinationArchiveFolder": {
										"value": "@pipeline().parameters.DestinationArchiveFolder",
										"type": "Expression"
									},
									"StagingFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ORACLE",
									"DestinationSystem": "ROSS"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_SCM_203",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_SCM_203')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SCM_203_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@pipeline().parameters.SourceFolder",
										"type": "Expression"
									},
									"DestinationFolder": {
										"value": "@pipeline().parameters.DestinationFolder",
										"type": "Expression"
									},
									"LogFolder": {
										"value": "@pipeline().parameters.LogFolder",
										"type": "Expression"
									},
									"SourceArchiveFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": "scm",
									"DestinationArchiveFolder": {
										"value": "@pipeline().parameters.DestinationArchiveFolder",
										"type": "Expression"
									},
									"StagingFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ORACLE",
									"DestinationSystem": "ROSS"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_FIN_253",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_FIN_253')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline8",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FIN_253_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@pipeline().parameters.SourceFolder",
										"type": "Expression"
									},
									"DestinationFolder": {
										"value": "@pipeline().parameters.DestinationFolder",
										"type": "Expression"
									},
									"LogFolder": {
										"value": "@pipeline().parameters.LogFolder",
										"type": "Expression"
									},
									"SourceArchiveFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": "fin",
									"DestinationArchiveFolder": {
										"value": "@pipeline().parameters.DestinationArchiveFolder",
										"type": "Expression"
									},
									"StagingFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ORACLE",
									"DestinationSystem": "ROSS"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_FIN_254",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_FIN_254')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline7",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FIN_254_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@pipeline().parameters.SourceFolder",
										"type": "Expression"
									},
									"DestinationFolder": {
										"value": "@pipeline().parameters.DestinationFolder",
										"type": "Expression"
									},
									"LogFolder": {
										"value": "@pipeline().parameters.LogFolder",
										"type": "Expression"
									},
									"SourceArchiveFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": "fin",
									"DestinationArchiveFolder": {
										"value": "@pipeline().parameters.DestinationArchiveFolder",
										"type": "Expression"
									},
									"StagingFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ORACLE",
									"DestinationSystem": "ROSS"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_FIN_267",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_FIN_267')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline2",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FIN_267_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@pipeline().parameters.SourceFolder",
										"type": "Expression"
									},
									"DestinationFolder": {
										"value": "@pipeline().parameters.DestinationFolder",
										"type": "Expression"
									},
									"LogFolder": {
										"value": "@pipeline().parameters.LogFolder",
										"type": "Expression"
									},
									"SourceArchiveFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": "fin",
									"DestinationArchiveFolder": {
										"value": "@pipeline().parameters.DestinationArchiveFolder",
										"type": "Expression"
									},
									"StagingFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ORACLE",
									"DestinationSystem": "ROSS"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_SCM_204",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_SCM_204')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline5",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SCM_204_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@pipeline().parameters.SourceFolder",
										"type": "Expression"
									},
									"DestinationFolder": {
										"value": "@pipeline().parameters.DestinationFolder",
										"type": "Expression"
									},
									"LogFolder": {
										"value": "@pipeline().parameters.LogFolder",
										"type": "Expression"
									},
									"SourceArchiveFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": "scm",
									"DestinationArchiveFolder": {
										"value": "@pipeline().parameters.DestinationArchiveFolder",
										"type": "Expression"
									},
									"StagingFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ORACLE",
									"DestinationSystem": "ROSS"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_SCM_231",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_SCM_231')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline6",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SCM_231_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@pipeline().parameters.SourceFolder",
										"type": "Expression"
									},
									"DestinationFolder": {
										"value": "@pipeline().parameters.DestinationFolder",
										"type": "Expression"
									},
									"LogFolder": {
										"value": "@pipeline().parameters.LogFolder",
										"type": "Expression"
									},
									"SourceArchiveFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": "scm",
									"DestinationArchiveFolder": {
										"value": "@pipeline().parameters.DestinationArchiveFolder",
										"type": "Expression"
									},
									"StagingFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ORACLE",
									"DestinationSystem": "ROSS"
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('select distinct FileNameZip name from EventLog el where FileNameZip like ''%',pipeline().parameters.interfaceName,'%''')",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "LOG_TABLE",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(contains(pipeline().parameters.FileName,pipeline().parameters.interfaceName),\nnot(contains(activity('Lookup1').output.value,json(concat('{\"name\" : \"',pipeline().parameters.FileName,'\"}')))))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "SetVariable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ZipFileName",
								"value": {
									"value": "@pipeline().parameters.FileName",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_PPM_337",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_PPM_337')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline10",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PPM_337_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": "uem/dev/edgenta/azure/inbound/main/source",
									"DestinationFolder": "uem/dev/edgenta/azure/inbound/main/destination",
									"LogFolder": "uem/dev/edgenta/azure/inbound/log/",
									"SourceArchiveFolder": "uem/dev/edgenta/azure/inbound/archive/source",
									"Department": "ppm",
									"DestinationArchiveFolder": "uem/dev/edgenta/azure/inbound/archive/destination",
									"StagingFolder": "uem/dev/edgenta/azure/inbound/main/source",
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ROSS",
									"DestinationSystem": "ORACLE"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_FIN_252",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_FIN_252')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline11",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FIN_252_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@pipeline().parameters.SourceFolder",
										"type": "Expression"
									},
									"DestinationFolder": {
										"value": "@pipeline().parameters.DestinationFolder",
										"type": "Expression"
									},
									"LogFolder": {
										"value": "@pipeline().parameters.LogFolder",
										"type": "Expression"
									},
									"SourceArchiveFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": "fin",
									"DestinationArchiveFolder": {
										"value": "@pipeline().parameters.DestinationArchiveFolder",
										"type": "Expression"
									},
									"StagingFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ORACLE",
									"DestinationSystem": "ROSS"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_FIN_249",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_FIN_249')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline12",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FIN_249_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": {
										"value": "@pipeline().parameters.SourceFolder",
										"type": "Expression"
									},
									"DestinationFolder": {
										"value": "@pipeline().parameters.DestinationFolder",
										"type": "Expression"
									},
									"LogFolder": {
										"value": "@pipeline().parameters.LogFolder",
										"type": "Expression"
									},
									"SourceArchiveFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": "fin",
									"DestinationArchiveFolder": {
										"value": "@pipeline().parameters.DestinationArchiveFolder",
										"type": "Expression"
									},
									"StagingFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ORACLE",
									"DestinationSystem": "ROSS"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_PPM_363",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_PPM_363')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline13",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PPM_363_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": "uem/dev/edgenta/azure/inbound/main/source",
									"DestinationFolder": "uem/dev/edgenta/azure/inbound/main/destination",
									"LogFolder": "uem/dev/edgenta/azure/inbound/log/",
									"SourceArchiveFolder": "uem/dev/edgenta/azure/inbound/archive/source",
									"Department": "ppm",
									"DestinationArchiveFolder": "uem/dev/edgenta/azure/inbound/archive/destination",
									"StagingFolder": "uem/dev/edgenta/azure/inbound/main/source",
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ROSS",
									"DestinationSystem": "ORACLE"
								}
							}
						}
					]
				}
			},
			{
				"name": "If INT_SCM_303",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ZipFileName'),'INT_SCM_303')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ExecutePipeline14",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SCM_303_PART_1_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"InterfaceName": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"ParentPipelineID": {
										"value": "@pipeline().parameters.ParentPipelineID",
										"type": "Expression"
									},
									"SourceFolder": "uem/dev/edgenta/azure/inbound/main/source",
									"DestinationFolder": "uem/dev/edgenta/azure/inbound/main/destination",
									"LogFolder": "uem/dev/edgenta/azure/inbound/log/",
									"SourceArchiveFolder": "uem/dev/edgenta/azure/inbound/archive/source",
									"Department": "scm",
									"DestinationArchiveFolder": "uem/dev/edgenta/azure/inbound/archive/destination",
									"StagingFolder": "uem/dev/edgenta/azure/inbound/main/source",
									"FileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"FileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									},
									"ScheduleType": "2",
									"SourceSystem": "ROSS",
									"DestinationSystem": "ORACLE"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"InterfaceName": {
				"type": "string",
				"defaultValue": "scm_204"
			},
			"ParentPipelineID": {
				"type": "string"
			},
			"SourceFolder": {
				"type": "string"
			},
			"DestinationFolder": {
				"type": "string"
			},
			"LogFolder": {
				"type": "string"
			},
			"SourceArchiveFolder": {
				"type": "string"
			},
			"Department": {
				"type": "string"
			},
			"DestinationArchiveFolder": {
				"type": "string"
			},
			"StagingFolder": {
				"type": "string"
			},
			"FileName": {
				"type": "string"
			},
			"FileLocation": {
				"type": "string"
			}
		},
		"variables": {
			"ZipFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "GENERAL"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}