ADF/pipeline/INT_SCM_340_TEST.json
{
	"name": "INT_SCM_340_TEST",
	"properties": {
		"activities": [
			{
				"name": "File Generating",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:06:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://edgenta.azure-api.net/int/scm/204",
					"method": "POST",
					"body": {
						"eventID": "8f8bfc6e-cdec-4b72-be5a-3820ff05a407",
						"destination": "egsaasdrblob01/uem/dev/edgenta/azure/outbound/archive/destination/ross/scm/INT_SCM_204/INT_SCM_204_BLANKETAGREEMENT_Export_42128_20190510084755",
						"zipname": "INT_SCM_204_BLANKETAGREEMENT_Export_42128_20190510084755",
						"ErrorLocation": "uem/dev/edgenta/azure/outbound/log/",
						"file": "uem/dev/edgenta/azure/outbound/main/archive/scm/INT_SCM_204/INT_SCM_204_BLANKETAGREEMENT_Export_42128_20190510084755.zip/INT_SCM_204_BLANKETAGREEMENT_Export_42128_20190510084755.csv",
						"pipeline_dt": "2019-11-25 03:59:50"
					},
					"authentication": {
						"type": "Basic",
						"username": "uem_edgenta",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "File Generating",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "test",
					"value": {
						"value": "@activity('File Generating').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"ScheduleType": {
				"type": "string",
				"defaultValue": "2"
			}
		},
		"variables": {
			"AddWorkTypeList": {
				"type": "Array"
			},
			"UpdateWorkTypeList": {
				"type": "Array"
			},
			"WorkTypeRecord": {
				"type": "String"
			},
			"AddWorkTypeObject": {
				"type": "String"
			},
			"UpdateWorkTypeObject": {
				"type": "String"
			},
			"ZipFileName": {
				"type": "String",
				"defaultValue": "INT_SCM_340"
			},
			"test": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}