edsaasdrdf02/linkedTemplates/ArmTemplate_9.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "edsaasdrdf02"
		},
		"0710-Hourly10to17_properties_INT_SCM_201_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/item"
		},
		"0710-Hourly10to17_properties_INT_SCM_201_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_201"
		},
		"0710-Hourly10to17_properties_INT_SCM_201_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"0710-Hourly10to17_properties_INT_SCM_201_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0710-Hourly10to17_properties_INT_SCM_203_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/supplier"
		},
		"0710-Hourly10to17_properties_INT_SCM_203_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_203"
		},
		"0710-Hourly10to17_properties_INT_SCM_203_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"0710-Hourly10to17_properties_INT_SCM_203_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0710-TwoHourly10to5_properties_INT_SCM_204_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/blanketAgreement"
		},
		"0710-TwoHourly10to5_properties_INT_SCM_204_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_204"
		},
		"0710-TwoHourly10to5_properties_INT_SCM_204_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"0710-TwoHourly10to5_properties_INT_SCM_204_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0710-TwoHourly10to5_properties_INT_SCM_205_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/po"
		},
		"0710-TwoHourly10to5_properties_INT_SCM_205_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_205"
		},
		"0710-TwoHourly10to5_properties_INT_SCM_205_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"0710-TwoHourly10to5_properties_INT_SCM_205_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0810-Hourly10to5_properties_INT_SCM_201_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/item"
		},
		"0810-Hourly10to5_properties_INT_SCM_201_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_201"
		},
		"0810-Hourly10to5_properties_INT_SCM_201_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"0810-Hourly10to5_properties_INT_SCM_201_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0810-Hourly10to5_properties_INT_SCM_203_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/supplier"
		},
		"0810-Hourly10to5_properties_INT_SCM_203_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_203"
		},
		"0810-Hourly10to5_properties_INT_SCM_203_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"0810-Hourly10to5_properties_INT_SCM_203_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_204_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/blanketAgreement"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_204_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_204"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_204_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_204_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_205_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/po"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_205_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_205"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_205_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_205_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_231_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/inventoryItemCost"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_231_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_231"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_231_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"0810-TwoHourly10to8_properties_INT_SCM_231_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0910-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/inventoryItemCost"
		},
		"0910-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_231"
		},
		"0910-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"0910-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0910-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/ppm/project"
		},
		"0910-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_PPM_206"
		},
		"0910-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "ppm"
		},
		"0910-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0910-TwoHourly10to6_properties_INT_FIN_249_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/fin/supplierPayment"
		},
		"0910-TwoHourly10to6_properties_INT_FIN_249_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_FIN_249"
		},
		"0910-TwoHourly10to6_properties_INT_FIN_249_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "fin"
		},
		"0910-TwoHourly10to6_properties_INT_FIN_249_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0910-TwoHourly10to6_properties_INT_FIN_252_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/fin/arInvoice"
		},
		"0910-TwoHourly10to6_properties_INT_FIN_252_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_FIN_252"
		},
		"0910-TwoHourly10to6_properties_INT_FIN_252_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "fin"
		},
		"0910-TwoHourly10to6_properties_INT_FIN_252_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"0910-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/po"
		},
		"0910-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_205"
		},
		"0910-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"0910-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"1010-Hourly10to6_properties_INT_FIN_267_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/fin/customer"
		},
		"1010-Hourly10to6_properties_INT_FIN_267_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_FIN_267"
		},
		"1010-Hourly10to6_properties_INT_FIN_267_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "fin"
		},
		"1010-Hourly10to6_properties_INT_FIN_267_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"1010-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/po"
		},
		"1010-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_205"
		},
		"1010-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"1010-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"1010-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/inventoryItemCost"
		},
		"1010-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_231"
		},
		"1010-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"1010-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"1010-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/ppm/project"
		},
		"1010-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_PPM_206"
		},
		"1010-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "ppm"
		},
		"1010-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"1010-TwoHourly10to6_properties_INT_FIN_254_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/fin/invoiceReceipt"
		},
		"1010-TwoHourly10to6_properties_INT_FIN_254_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_FIN_254"
		},
		"1010-TwoHourly10to6_properties_INT_FIN_254_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "fin"
		},
		"1010-TwoHourly10to6_properties_INT_FIN_254_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"1110-TwoHourly10to6_properties_INT_FIN_253_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/fin/arCreditNote"
		},
		"1110-TwoHourly10to6_properties_INT_FIN_253_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_FIN_253"
		},
		"1110-TwoHourly10to6_properties_INT_FIN_253_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "fin"
		},
		"1110-TwoHourly10to6_properties_INT_FIN_253_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"1110-TwoHourly10to6_properties_INT_PPM_337_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem_edgenta/dev/erp/ross/fusion_inbound/billingevents"
		},
		"1110-TwoHourly10to6_properties_INT_PPM_337_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_PPM_337"
		},
		"1110-TwoHourly10to6_properties_INT_PPM_337_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "ppm"
		},
		"1110-TwoHourly10to6_properties_INT_PPM_337_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"1110-TwoHourly10to6_properties_INT_PPM_363_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem_edgenta/dev/erp/ross/fusion_inbound/costaccrual"
		},
		"1110-TwoHourly10to6_properties_INT_PPM_363_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_PPM_363"
		},
		"1110-TwoHourly10to6_properties_INT_PPM_363_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "ppm"
		},
		"1110-TwoHourly10to6_properties_INT_PPM_363_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		},
		"1110-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_fileLocation": {
			"type": "string",
			"defaultValue": "/uem/dev/edgenta/azure/outbound/scm/po"
		},
		"1110-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_interfaceName": {
			"type": "string",
			"defaultValue": "INT_SCM_205"
		},
		"1110-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_Department": {
			"type": "string",
			"defaultValue": "scm"
		},
		"1110-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_ScheduleType": {
			"type": "string",
			"defaultValue": "1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/GENERAL_DIR')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If INT_PPM_206",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(pipeline().parameters.interfaceName,'INT_PPM_206')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecutePipeline3",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "INT_PPM_206_DIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileLocation": {
												"value": "@pipeline().parameters.fileLocation",
												"type": "Expression"
											},
											"interfaceName": {
												"value": "@pipeline().parameters.interfaceName",
												"type": "Expression"
											},
											"Department": {
												"value": "@pipeline().parameters.Department",
												"type": "Expression"
											},
											"ScheduleType": "2"
										}
									}
								}
							]
						}
					},
					{
						"name": "If INT_SCM_205",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(pipeline().parameters.interfaceName,'INT_SCM_205')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecutePipeline9",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "INT_SCM_205_DIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileLocation": {
												"value": "@pipeline().parameters.fileLocation",
												"type": "Expression"
											},
											"interfaceName": {
												"value": "@pipeline().parameters.interfaceName",
												"type": "Expression"
											},
											"Department": {
												"value": "@pipeline().parameters.Department",
												"type": "Expression"
											},
											"ScheduleType": "2"
										}
									}
								}
							]
						}
					},
					{
						"name": "If INT_SCM_201",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(pipeline().parameters.interfaceName,'INT_SCM_201')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecutePipeline4",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "INT_SCM_201_DIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileLocation": {
												"value": "@pipeline().parameters.fileLocation",
												"type": "Expression"
											},
											"interfaceName": {
												"value": "@pipeline().parameters.interfaceName",
												"type": "Expression"
											},
											"Department": {
												"value": "@pipeline().parameters.Department",
												"type": "Expression"
											},
											"ScheduleType": "2"
										}
									}
								}
							]
						}
					},
					{
						"name": "If INT_SCM_203",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(pipeline().parameters.interfaceName,'INT_SCM_203')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecutePipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "INT_SCM_203_DIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileLocation": {
												"value": "@pipeline().parameters.fileLocation",
												"type": "Expression"
											},
											"interfaceName": {
												"value": "@pipeline().parameters.interfaceName",
												"type": "Expression"
											},
											"Department": {
												"value": "@pipeline().parameters.Department",
												"type": "Expression"
											},
											"ScheduleType": "2"
										}
									}
								}
							]
						}
					},
					{
						"name": "If INT_FIN_253",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(pipeline().parameters.interfaceName,'INT_FIN_253')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecutePipeline8",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "INT_FIN_253_DIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileLocation": {
												"value": "@pipeline().parameters.fileLocation",
												"type": "Expression"
											},
											"interfaceName": {
												"value": "@pipeline().parameters.interfaceName",
												"type": "Expression"
											},
											"Department": {
												"value": "@pipeline().parameters.Department",
												"type": "Expression"
											},
											"ScheduleType": "2"
										}
									}
								}
							]
						}
					},
					{
						"name": "If INT_FIN_254",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(pipeline().parameters.interfaceName,'INT_FIN_254')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecutePipeline7",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "INT_FIN_254_DIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileLocation": {
												"value": "@pipeline().parameters.fileLocation",
												"type": "Expression"
											},
											"interfaceName": {
												"value": "@pipeline().parameters.interfaceName",
												"type": "Expression"
											},
											"Department": {
												"value": "@pipeline().parameters.Department",
												"type": "Expression"
											},
											"ScheduleType": "2"
										}
									}
								}
							]
						}
					},
					{
						"name": "If INT_FIN_267",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(pipeline().parameters.interfaceName,'INT_FIN_267')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecutePipeline2",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "INT_FIN_267_DIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileLocation": {
												"value": "@pipeline().parameters.fileLocation",
												"type": "Expression"
											},
											"interfaceName": {
												"value": "@pipeline().parameters.interfaceName",
												"type": "Expression"
											},
											"Department": {
												"value": "@pipeline().parameters.Department",
												"type": "Expression"
											},
											"ScheduleType": "2"
										}
									}
								}
							]
						}
					},
					{
						"name": "If INT_SCM_204",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(pipeline().parameters.interfaceName,'INT_SCM_204')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecutePipeline5",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "INT_SCM_204_DIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileLocation": {
												"value": "@pipeline().parameters.fileLocation",
												"type": "Expression"
											},
											"interfaceName": {
												"value": "@pipeline().parameters.interfaceName",
												"type": "Expression"
											},
											"Department": {
												"value": "@pipeline().parameters.Department",
												"type": "Expression"
											},
											"ScheduleType": "2"
										}
									}
								}
							]
						}
					},
					{
						"name": "If INT_SCM_231",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(pipeline().parameters.interfaceName,'INT_SCM_231')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "ExecutePipeline6",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "INT_SCM_231_DIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileLocation": {
												"value": "@pipeline().parameters.fileLocation",
												"type": "Expression"
											},
											"interfaceName": {
												"value": "@pipeline().parameters.interfaceName",
												"type": "Expression"
											},
											"Department": {
												"value": "@pipeline().parameters.Department",
												"type": "Expression"
											},
											"ScheduleType": "2"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"fileLocation": {
						"type": "string",
						"defaultValue": "/uem/dev/edgenta/azure/outbound/fin/customer"
					},
					"interfaceName": {
						"type": "string",
						"defaultValue": "INT_FIN_267"
					},
					"Department": {
						"type": "string",
						"defaultValue": "fin"
					},
					"ScheduleType": {
						"type": "string",
						"defaultValue": "1"
					}
				},
				"variables": {
					"SourceFolder": {
						"type": "String",
						"defaultValue": "uem/dev/edgenta/azure/outbound/main/source"
					},
					"DestinationFolder": {
						"type": "String",
						"defaultValue": "uem/dev/edgenta/azure/outbound/main/destination"
					},
					"LogFolder": {
						"type": "String",
						"defaultValue": "outbound/log"
					},
					"SourceArchiveFolder": {
						"type": "String",
						"defaultValue": "uem/dev/edgenta/azure/outbound/archive/source"
					},
					"Department": {
						"type": "String",
						"defaultValue": "fin"
					},
					"DestinationArchiveFolder": {
						"type": "String",
						"defaultValue": "uem/dev/edgenta/azure/outbound/archive/destination"
					},
					"StagingFolder": {
						"type": "String",
						"defaultValue": "uem/dev/edgenta/azure/outbound/main/source"
					},
					"ScheduleType": {
						"type": "String",
						"defaultValue": "1"
					},
					"test": {
						"type": "Array"
					},
					"test2": {
						"type": "String"
					}
				},
				"folder": {
					"name": "GENERAL"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GENERAL_PART_1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get and Deflate ZIP",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "FileSystemSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink",
								"copyBehavior": "PreserveHierarchy"
							},
							"enableStaging": false,
							"parallelCopies": 4,
							"dataIntegrationUnits": 32
						},
						"inputs": [
							{
								"referenceName": "FUSION_FileShare",
								"type": "DatasetReference",
								"parameters": {
									"fileName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"fileLocation": {
										"value": "@pipeline().parameters.FileLocation",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "FOLDER_FUSION",
								"type": "DatasetReference",
								"parameters": {
									"InterfaceFolder": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"FolderName": "-1",
									"PathFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"Department": {
										"value": "@pipeline().parameters.Department",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Check Checksum",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get and Deflate ZIP",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://edsaasdrfc01.azurewebsites.net/api/ValidChecksum",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('{\"cksmPath\":\"egsaasdrblob01/',pipeline().parameters.StagingFolder,'/',pipeline().parameters.Department,'/',pipeline().parameters.InterfaceName,'/',variables('ZipFileName'),'/checksum.txt\",\n\"filePath\":\"egsaasdrblob01/',pipeline().parameters.StagingFolder,'/',pipeline().parameters.Department,'/',pipeline().parameters.InterfaceName,'/',variables('ZipFileName'),'/',replace(variables('ZipFileName'),'zip','csv'),'\"}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If checksum is match",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Check Checksum",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Check Checksum').output.Response,'true')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Send Failed ACK",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Lookup ACK Data Failed",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://edsaasdrfc01.azurewebsites.net/api/PostAck",
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat(\n'{\"sourceSystem\":\" ',activity('Lookup ACK Data Failed').output.firstRow.source,\n'\",\"zipfileName\":\"',variables('ZipFileName')\n,'\",\"dataFileName\":\"',replace(variables('ZipFileName'),'zip','csv')\n,'\",\"errorLocation\":\"',activity('Lookup ACK Data Failed').output.firstRow.ErrorLocation\n,'\",\"businessObject\":\"',activity('Lookup ACK Data Failed').output.firstRow.BusinessObject\n,'\",\"notificationType\":\"',activity('Lookup ACK Data Failed').output.firstRow.NotificationType\n,'\",\"eventOccurredTime\":\"',string(activity('Lookup ACK Data Failed').output.firstRow.starttime)\n,'\",\"messageDescription\":\"',activity('Lookup ACK Data Failed').output.firstRow.ErrorMessage\n,'\",\"fileLine\":\"\"}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Add Log For Send ACK",
									"type": "WebActivity",
									"dependsOn": [
										{
											"activity": "Send Failed ACK",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://edsaasdrfc01.azurewebsites.net/api/AuditLog",
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('\n{\"EventID\" : \"',pipeline().RunId,'\",\n\"EventName\" : \"',pipeline().Pipeline,'\",\n\"FileZipName\" : \"',variables('ZipFileName'),'\",\n\"FileName\" : \"',replace(variables('ZipFileName'),'zip','csv'),'\",\n\"Object\" : \"BlanketAggreement\",\n\"SourceSystem\" : \"Azure-Edgenta\",\n\"DestSystem\" : \"Azure-ROSS\",\n\"JobId\" : \"',activity('Send Failed ACK').ActivityRunId,'\",\n\"ActivityTask\" : \"Send ACK\",\n\"ActivityType\" : \"\",\n\"StartTime\" : \"',activity('Send Failed ACK').ExecutionStartTime,'\",\n\"EndTime\" : \"',activity('Send Failed ACK').ExecutionEndTime,'\",\n\"Status\" : \"',activity('Send Failed ACK').Status,'\",\n\"Output\" : ',activity('Send Failed ACK').Output,',\n\"Error\" : \"',if(empty(activity('Send Failed ACK').Error),'',string(activity('Send Failed ACK').Error)),'\",\n\"ErrorLoc\" : \"\",\n\"Type\" : 2,\n\"EventType\" : \"OUTBOUND\",\n\"FilePath\" : \"\",\n\"TotalRow\" : 0,\n\"SuccessRow\" : 0,\n\"FailedRow\" : 0}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Add Log for Checksum Check",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": "https://edsaasdrfc01.azurewebsites.net/api/AuditLog",
										"method": "POST",
										"headers": {},
										"body": {
											"value": "@concat('\n{\"EventID\" : \"',pipeline().RunId,'\",\n\"EventName\" : \"',pipeline().Pipeline,'\",\n\"FileZipName\" : \"',variables('ZipFileName'),'\",\n\"FileName\" : \"',replace(variables('ZipFileName'),'zip','csv'),'\",\n\"Object\" : \"BlanketAggreement\",\n\"SourceSystem\" : \"Azure-Edgenta\",\n\"DestSystem\" : \"Azure-ROSS\",\n\"JobId\" : \"',activity('Check Checksum').ActivityRunId,'\",\n\"ActivityTask\" : \"Check Checksum\",\n\"ActivityType\" : \"\",\n\"StartTime\" : \"',activity('Check Checksum').ExecutionStartTime,'\",\n\"EndTime\" : \"',activity('Check Checksum').ExecutionEndTime,'\",\n\"Status\" : \"',activity('Check Checksum').Status,'\",\n\"Output\" : ',activity('Check Checksum').Output,',\n\"Error\" : \"',activity('Check Checksum').Error,'\",\n\"ErrorLoc\" : \"\",\n\"Type\" : 0,\n\"EventType\" : \"OUTBOUND\",\n\"FilePath\" : \"\",\n\"TotalRow\" : 0,\n\"SuccessRow\" : 0,\n\"FailedRow\" : 0}')",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Lookup ACK Data Failed",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "Add Log for Checksum Check",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat('select etl.starttime,source,FileNameZip,FileNameData,el.BusinessObject,CASE WHEN etl.Status = 1 THEN ''ACK'' ELSE ''ERROR'' END NotificationType,etl.ErrorMessage,FileLine,\nCASE WHEN etl.Status = 1 THEN '''' ELSE ''/uem/dev/edgenta/azure/outbound/log/''+replace(el.FileNameZip,''.zip'','''')+''_Error_Log.zip'' END ErrorLocation\n from eventlog el inner join eventtasklog etl on el.EventID = etl.EventID\nwhere el.eventid = ''',pipeline().parameters.ParentPipelineID,''' and etl.StepName=''Check Checksum''')",
												"type": "Expression"
											}
										},
										"dataset": {
											"referenceName": "LOG_TABLE",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "GENERAL_PART_1B",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"InterfaceName": {
												"value": "@pipeline().parameters.InterfaceName",
												"type": "Expression"
											},
											"ParentPipelineID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"SourceFolder": {
												"value": "@pipeline().parameters.SourceFolder",
												"type": "Expression"
											},
											"DestinationFolder": {
												"value": "@pipeline().parameters.DestinationFolder",
												"type": "Expression"
											},
											"LogFolder": {
												"value": "@pipeline().parameters.LogFolder",
												"type": "Expression"
											},
											"SourceArchiveFolder": {
												"value": "@pipeline().parameters.SourceArchiveFolder",
												"type": "Expression"
											},
											"Department": {
												"value": "@pipeline().parameters.Department",
												"type": "Expression"
											},
											"DestinationArchiveFolder": {
												"value": "@pipeline().parameters.DestinationArchiveFolder",
												"type": "Expression"
											},
											"StagingFolder": {
												"value": "@pipeline().parameters.StagingFolder",
												"type": "Expression"
											},
											"FileName": {
												"value": "@pipeline().parameters.FileName",
												"type": "Expression"
											},
											"FileLocation": {
												"value": "@pipeline().parameters.FileLocation",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Add Log for Deflate ZIP",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Get and Deflate ZIP",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://edgenta.azure-api.net/adf/AuditLog",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('\n{\"EventID\" : \"',pipeline().RunId,'\",\n\"EventName\" : \"',pipeline().Pipeline,'\",\n\"FileZipName\" : \"',variables('ZipFileName'),'\",\n\"FileName\" : \"',replace(variables('ZipFileName'),'zip','csv'),'\",\n\"Object\" : \"Supplier\",\n\"SourceSystem\" : \"Azure-Edgenta\",\n\"DestSystem\" : \"Azure-ROSS\",\n\"JobId\" : \"',activity('Get and Deflate ZIP').ActivityRunId,'\",\n\"ActivityTask\" : \"Get and Deflate ZIP\",\n\"ActivityType\" : \"',pipeline().parameters.ParentPipelineID,'\",\n\"StartTime\" : \"',activity('Get and Deflate ZIP').ExecutionStartTime,'\",\n\"EndTime\" : \"',activity('Get and Deflate ZIP').ExecutionEndTime,'\",\n\"Status\" : \"',activity('Get and Deflate ZIP').Status,'\",\n\"Output\" : ',activity('Get and Deflate ZIP').Output,',\n\"Error\" : ',activity('Get and Deflate ZIP').Error,',\n\"ErrorLoc\" : \"\",\n\"Type\" : 0,\n\"EventType\" : \"OUTBOUND\",\n\"FilePath\" : \"The step describes the process of locate and retrieve the .ZIP file from SFTP. Deflating process will be run once retrieved the .ZIP and move .CSV to BLOB\",\n\"TotalRow\" : ',pipeline().parameters.ScheduleType,',\n\"SuccessRow\" : 0,\n\"FailedRow\" : 0}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Send ACK",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Lookup ACK Data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://edsaasdrfc01.azurewebsites.net/api/PostAck",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat(\n'{\"sourceSystem\":\" ',activity('Lookup ACK Data').output.firstRow.source,\n'\",\"zipfileName\":\"',variables('ZipFileName')\n,'\",\"dataFileName\":\"',replace(variables('ZipFileName'),'zip','csv')\n,'\",\"errorLocation\":\"',activity('Lookup ACK Data').output.firstRow.ErrorLocation\n,'\",\"businessObject\":\"',activity('Lookup ACK Data').output.firstRow.BusinessObject\n,'\",\"notificationType\":\"',activity('Lookup ACK Data').output.firstRow.NotificationType\n,'\",\"eventOccurredTime\":\"',string(activity('Lookup ACK Data').output.firstRow.starttime)\n,'\",\"messageDescription\":\"',if(equals('ACK',activity('Lookup ACK Data').output.firstRow.NotificationType),'','Checksum is not matched'),'\",\"fileLine\":\"\"}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Add Log for Checksum",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Check Checksum",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://edgenta.azure-api.net/adf/AuditLog",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('\n{\"EventID\" : \"',pipeline().RunId,'\",\n\"EventName\" : \"',pipeline().Pipeline,'\",\n\"FileZipName\" : \"',variables('ZipFileName'),'\",\n\"FileName\" : \"',replace(variables('ZipFileName'),'zip','csv'),'\",\n\"Object\" : \"BlanketAggreement\",\n\"SourceSystem\" : \"Azure-Edgenta\",\n\"DestSystem\" : \"Azure-ROSS\",\n\"JobId\" : \"',activity('Check Checksum').ActivityRunId,'\",\n\"ActivityTask\" : \"Check Checksum\",\n\"ActivityType\" : \"',pipeline().parameters.ParentPipelineID,'\",\n\"StartTime\" : \"',activity('Check Checksum').ExecutionStartTime,'\",\n\"EndTime\" : \"',activity('Check Checksum').ExecutionEndTime,'\",\n\"Status\" : \"',activity('Check Checksum').Status,'\",\n\"Output\" : ',activity('Check Checksum').Output,',\n\"Error\" : ',activity('Check Checksum').Error,',\n\"ErrorLoc\" : \"\",\n\"Type\" : 0,\n\"EventType\" : \"OUTBOUND\",\n\"FilePath\" : \"The step describes the process of check and validate the Checksum file provided by source system in .ZIP file\",\n\"TotalRow\" : ',pipeline().parameters.ScheduleType,',\n\"SuccessRow\" : 0,\n\"FailedRow\" : 0}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Lookup ACK Data",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Add Log for Checksum",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('select etl.starttime,source,FileNameZip,FileNameData,el.BusinessObject,CASE WHEN etl.Status = 1 THEN ''ACK'' ELSE ''ERROR'' END NotificationType,etl.ErrorMessage,FileLine,\nCASE WHEN etl.Status = 1 THEN '''' ELSE ''/uem/dev/edgenta/azure/outbound/log/''+replace(el.FileNameZip,''.zip'','''')+''_Error_Log.zip'' END ErrorLocation\n from eventlog el inner join eventtasklog etl on el.EventID = etl.EventID\nwhere el.eventid = ''',pipeline().RunId,''' and etl.StepName=''Check Checksum''')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "LOG_TABLE",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "WebActivity2",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Send ACK",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://edgenta.azure-api.net/adf/AuditLog",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('\n{\"EventID\" : \"',pipeline().RunId,'\",\n\"EventName\" : \"',pipeline().Pipeline,'\",\n\"FileZipName\" : \"',variables('ZipFileName'),'\",\n\"FileName\" : \"',replace(variables('ZipFileName'),'zip','csv'),'\",\n\"Object\" : \"BlanketAggreement\",\n\"SourceSystem\" : \"Azure-Edgenta\",\n\"DestSystem\" : \"Azure-ROSS\",\n\"JobId\" : \"',activity('Send ACK').ActivityRunId,'\",\n\"ActivityTask\" : \"',if(equals('ACK',activity('Lookup ACK Data').output.firstRow.NotificationType),'Send Success Received File ACK','Send Failed Received File ACK'),'\",\n\"ActivityType\" : \"1\",\n\"StartTime\" : \"',activity('Send ACK').ExecutionStartTime,'\",\n\"EndTime\" : \"',activity('Send ACK').ExecutionEndTime,'\",\n\"Status\" : \"',activity('Send ACK').Status,'\",\n\"Output\" : ',concat(\n'{\"sourceSystem\":\" ',activity('Lookup ACK Data').output.firstRow.source,\n'\",\"zipfileName\":\"',variables('ZipFileName')\n,'\",\"dataFileName\":\"',replace(variables('ZipFileName'),'zip','csv')\n,'\",\"errorLocation\":\"',activity('Lookup ACK Data').output.firstRow.ErrorLocation\n,'\",\"businessObject\":\"',activity('Lookup ACK Data').output.firstRow.BusinessObject\n,'\",\"notificationType\":\"',activity('Lookup ACK Data').output.firstRow.NotificationType\n,'\",\"eventOccurredTime\":\"',string(activity('Lookup ACK Data').output.firstRow.starttime)\n,'\",\"messageDescription\":\"',if(equals('ACK',activity('Lookup ACK Data').output.firstRow.NotificationType),'','Checksum is not matched'),'\",\"fileLine\":\"\"}'),',\n\"Error\" : \"',if(empty(activity('Send ACK').Error),'',string(activity('Send ACK').Error)),'\",\n\"ErrorLoc\" : \"\",\n\"Type\" : 0,\n\"EventType\" : \"OUTBOUND\",\n\"FilePath\" : \"The step describes the process of send the success message of received file via API of source system\",\n\"TotalRow\" : 0,\n\"SuccessRow\" : 0,\n\"FailedRow\" : 0}')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set Variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "ZipFileName",
							"value": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Backup Source File",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "If checksum is match",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false,
							"parallelCopies": 6,
							"dataIntegrationUnits": 32
						},
						"inputs": [
							{
								"referenceName": "FOLDER_FUSION",
								"type": "DatasetReference",
								"parameters": {
									"InterfaceFolder": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"FolderName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"PathFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"Department": {
										"value": "@pipeline().parameters.Department",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "FOLDER_FUSION",
								"type": "DatasetReference",
								"parameters": {
									"InterfaceFolder": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"FolderName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"PathFolder": {
										"value": "@pipeline().parameters.SourceArchiveFolder",
										"type": "Expression"
									},
									"Department": {
										"value": "@pipeline().parameters.Department",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Delete Source File",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "Backup Source File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "FOLDER_FUSION",
								"type": "DatasetReference",
								"parameters": {
									"InterfaceFolder": {
										"value": "@pipeline().parameters.InterfaceName",
										"type": "Expression"
									},
									"FolderName": {
										"value": "@variables('ZipFileName')",
										"type": "Expression"
									},
									"PathFolder": {
										"value": "@pipeline().parameters.StagingFolder",
										"type": "Expression"
									},
									"Department": {
										"value": "@pipeline().parameters.Department",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false
						}
					},
					{
						"name": "Add Log for Source File Backup",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Backup Source File",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://edgenta.azure-api.net/adf/AuditLog",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@concat('\n{\"EventID\" : \"',pipeline().RunId,'\",\n\"EventName\" : \"',pipeline().Pipeline,'\",\n\"FileZipName\" : \"',variables('ZipFileName'),'\",\n\"FileName\" : \"',replace(variables('ZipFileName'),'zip','csv'),'\",\n\"Object\" : \"Supplier\",\n\"SourceSystem\" : \"Azure-Edgenta\",\n\"DestSystem\" : \"Azure-ROSS\",\n\"JobId\" : \"',activity('Backup Source File').ActivityRunId,'\",\n\"ActivityTask\" : \"Backup Source File\",\n\"ActivityType\" : \"',pipeline().parameters.ParentPipelineID,'\",\n\"StartTime\" : \"',activity('Backup Source File').ExecutionStartTime,'\",\n\"EndTime\" : \"',activity('Backup Source File').ExecutionEndTime,'\",\n\"Status\" : \"',activity('Backup Source File').Status,'\",\n\"Output\" : ',activity('Backup Source File').Output,',\n\"Error\" : ',activity('Backup Source File').Error,',\n\"ErrorLoc\" : \"\",\n\"Type\" : 0,\n\"EventType\" : \"OUTBOUND\",\n\"FilePath\" : \"The step describes the process of backup source file in BLOB\",\n\"TotalRow\" : 0,\n\"SuccessRow\" : 0,\n\"FailedRow\" : 0}')",
								"type": "Expression"
							}
						}
					}
				],
				"parameters": {
					"InterfaceName": {
						"type": "string",
						"defaultValue": "INT_FIN_253"
					},
					"ParentPipelineID": {
						"type": "string"
					},
					"SourceFolder": {
						"type": "string",
						"defaultValue": "uem/dev/edgenta/azure/outbound/main/source"
					},
					"DestinationFolder": {
						"type": "string",
						"defaultValue": "uem/dev/edgenta/azure/outbound/main/destination"
					},
					"LogFolder": {
						"type": "string",
						"defaultValue": "outbound/log"
					},
					"SourceArchiveFolder": {
						"type": "string",
						"defaultValue": "uem/dev/edgenta/azure/outbound/archive/source"
					},
					"Department": {
						"type": "string",
						"defaultValue": "fin"
					},
					"DestinationArchiveFolder": {
						"type": "string",
						"defaultValue": "uem/dev/edgenta/azure/outbound/archive/destination"
					},
					"StagingFolder": {
						"type": "string",
						"defaultValue": "uem/dev/edgenta/azure/outbound/main/source"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "INT_FIN_253_ARCREDITNOTE_Export_45200_20190523113209.zip"
					},
					"FileLocation": {
						"type": "string",
						"defaultValue": "/uem/dev/edgenta/azure/outbound/fin/arCreditNote"
					},
					"ScheduleType": {
						"type": "string",
						"defaultValue": "1"
					}
				},
				"variables": {
					"ZipFileName": {
						"type": "String"
					}
				},
				"folder": {
					"name": "GENERAL"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/0710-Hourly10to17')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "INT_SCM_201, INT_SCM_203",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_201_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0710-Hourly10to17_properties_INT_SCM_201_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0710-Hourly10to17_properties_INT_SCM_201_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0710-Hourly10to17_properties_INT_SCM_201_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0710-Hourly10to17_properties_INT_SCM_201_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_203_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0710-Hourly10to17_properties_INT_SCM_203_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0710-Hourly10to17_properties_INT_SCM_203_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0710-Hourly10to17_properties_INT_SCM_203_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0710-Hourly10to17_properties_INT_SCM_203_DIR_parameters_ScheduleType')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2019-10-07T02:00:00Z",
						"endTime": "2019-10-07T09:01:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/0710-TwoHourly10to5')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_204_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0710-TwoHourly10to5_properties_INT_SCM_204_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0710-TwoHourly10to5_properties_INT_SCM_204_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0710-TwoHourly10to5_properties_INT_SCM_204_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0710-TwoHourly10to5_properties_INT_SCM_204_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_205_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0710-TwoHourly10to5_properties_INT_SCM_205_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0710-TwoHourly10to5_properties_INT_SCM_205_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0710-TwoHourly10to5_properties_INT_SCM_205_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0710-TwoHourly10to5_properties_INT_SCM_205_DIR_parameters_ScheduleType')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2019-10-07T02:00:00Z",
						"endTime": "2019-10-07T09:01:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/0810-Hourly10to5')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_201_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0810-Hourly10to5_properties_INT_SCM_201_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0810-Hourly10to5_properties_INT_SCM_201_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0810-Hourly10to5_properties_INT_SCM_201_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0810-Hourly10to5_properties_INT_SCM_201_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_203_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0810-Hourly10to5_properties_INT_SCM_203_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0810-Hourly10to5_properties_INT_SCM_203_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0810-Hourly10to5_properties_INT_SCM_203_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0810-Hourly10to5_properties_INT_SCM_203_DIR_parameters_ScheduleType')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2019-10-08T02:00:00Z",
						"endTime": "2019-10-08T09:01:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/0810-TwoHourly10to8')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_204_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_204_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_204_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_204_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_204_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_205_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_205_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_205_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_205_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_205_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_231_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_231_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_231_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_231_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0810-TwoHourly10to8_properties_INT_SCM_231_DIR_parameters_ScheduleType')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2019-10-08T02:00:00Z",
						"endTime": "2019-10-08T12:01:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/0910-TwoHourly10to6')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_231_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0910-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0910-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0910-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0910-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_PPM_206_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0910-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0910-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0910-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0910-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_FIN_249_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0910-TwoHourly10to6_properties_INT_FIN_249_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0910-TwoHourly10to6_properties_INT_FIN_249_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0910-TwoHourly10to6_properties_INT_FIN_249_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0910-TwoHourly10to6_properties_INT_FIN_249_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_FIN_252_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0910-TwoHourly10to6_properties_INT_FIN_252_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0910-TwoHourly10to6_properties_INT_FIN_252_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0910-TwoHourly10to6_properties_INT_FIN_252_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0910-TwoHourly10to6_properties_INT_FIN_252_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_205_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('0910-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('0910-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_interfaceName')]",
							"Department": "[parameters('0910-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('0910-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_ScheduleType')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2019-10-09T02:00:00Z",
						"endTime": "2019-10-09T10:01:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1010-Hourly10to6')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "INT_FIN_267_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('1010-Hourly10to6_properties_INT_FIN_267_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('1010-Hourly10to6_properties_INT_FIN_267_DIR_parameters_interfaceName')]",
							"Department": "[parameters('1010-Hourly10to6_properties_INT_FIN_267_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('1010-Hourly10to6_properties_INT_FIN_267_DIR_parameters_ScheduleType')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2019-10-10T02:00:00Z",
						"endTime": "2019-10-10T10:01:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1010-TwoHourly10to6')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_205_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('1010-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('1010-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_interfaceName')]",
							"Department": "[parameters('1010-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('1010-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_231_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('1010-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('1010-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_interfaceName')]",
							"Department": "[parameters('1010-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('1010-TwoHourly10to6_properties_INT_SCM_231_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_PPM_206_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('1010-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('1010-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_interfaceName')]",
							"Department": "[parameters('1010-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('1010-TwoHourly10to6_properties_INT_PPM_206_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_FIN_254_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('1010-TwoHourly10to6_properties_INT_FIN_254_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('1010-TwoHourly10to6_properties_INT_FIN_254_DIR_parameters_interfaceName')]",
							"Department": "[parameters('1010-TwoHourly10to6_properties_INT_FIN_254_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('1010-TwoHourly10to6_properties_INT_FIN_254_DIR_parameters_ScheduleType')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2019-10-10T02:00:00Z",
						"endTime": "2019-10-10T10:01:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1110-TwoHourly10to6')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "INT_FIN_253_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('1110-TwoHourly10to6_properties_INT_FIN_253_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('1110-TwoHourly10to6_properties_INT_FIN_253_DIR_parameters_interfaceName')]",
							"Department": "[parameters('1110-TwoHourly10to6_properties_INT_FIN_253_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('1110-TwoHourly10to6_properties_INT_FIN_253_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_PPM_337_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('1110-TwoHourly10to6_properties_INT_PPM_337_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('1110-TwoHourly10to6_properties_INT_PPM_337_DIR_parameters_interfaceName')]",
							"Department": "[parameters('1110-TwoHourly10to6_properties_INT_PPM_337_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('1110-TwoHourly10to6_properties_INT_PPM_337_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_PPM_363_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('1110-TwoHourly10to6_properties_INT_PPM_363_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('1110-TwoHourly10to6_properties_INT_PPM_363_DIR_parameters_interfaceName')]",
							"Department": "[parameters('1110-TwoHourly10to6_properties_INT_PPM_363_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('1110-TwoHourly10to6_properties_INT_PPM_363_DIR_parameters_ScheduleType')]"
						}
					},
					{
						"pipelineReference": {
							"referenceName": "INT_SCM_205_DIR",
							"type": "PipelineReference"
						},
						"parameters": {
							"fileLocation": "[parameters('1110-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_fileLocation')]",
							"interfaceName": "[parameters('1110-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_interfaceName')]",
							"Department": "[parameters('1110-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_Department')]",
							"ScheduleType": "[parameters('1110-TwoHourly10to6_properties_INT_SCM_205_DIR_parameters_ScheduleType')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 2,
						"startTime": "2019-10-11T02:00:00Z",
						"endTime": "2019-10-11T10:01:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADHOC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If Declare File",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(pipeline().parameters.fileName,'')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Execute File",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "GENERAL_PART_1B",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"InterfaceName": {
												"value": "@pipeline().parameters.interfaceId",
												"type": "Expression"
											},
											"ParentPipelineID": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											},
											"SourceFolder": {
												"value": "@variables('SourceFolder')",
												"type": "Expression"
											},
											"DestinationFolder": {
												"value": "@variables('DestinationFolder')",
												"type": "Expression"
											},
											"LogFolder": {
												"value": "@variables('LogFolder')",
												"type": "Expression"
											},
											"SourceArchiveFolder": {
												"value": "@variables('SourceArchiveFolder')",
												"type": "Expression"
											},
											"Department": {
												"value": "@variables('Department')",
												"type": "Expression"
											},
											"DestinationArchiveFolder": {
												"value": "@variables('DestinationArchiveFolder')",
												"type": "Expression"
											},
											"StagingFolder": {
												"value": "@variables('SourceFolder')",
												"type": "Expression"
											},
											"FileName": {
												"value": "@pipeline().parameters.fileName",
												"type": "Expression"
											},
											"FileLocation": {
												"value": "@pipeline().parameters.fileLocation",
												"type": "Expression"
											},
											"ScheduleType": "1"
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Execute Folder",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "GENERAL_DIR",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"fileLocation": {
												"value": "@pipeline().parameters.fileLocation",
												"type": "Expression"
											},
											"interfaceName": {
												"value": "@pipeline().parameters.interfaceId",
												"type": "Expression"
											},
											"Department": {
												"value": "@substring(pipeline().parameters.interfaceId,4,3)",
												"type": "Expression"
											},
											"ScheduleType": "2"
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"fileName": {
						"type": "string",
						"defaultValue": "INT_PPM_337_BILLINGEVENTS_000153_IMPORT_2019081912174525.zip"
					},
					"sourceSystem": {
						"type": "string",
						"defaultValue": "Edgenta-Azure"
					},
					"fileLocation": {
						"type": "string",
						"defaultValue": "/uem_edgenta/dev/erp/ross/fusion_inbound/billingevents"
					},
					"interfaceId": {
						"type": "string",
						"defaultValue": "INT_PPM_337"
					}
				},
				"variables": {
					"TriggerBy": {
						"type": "String",
						"defaultValue": "ADHOC"
					},
					"SourceFolder": {
						"type": "String",
						"defaultValue": "uem/dev/edgenta/azure/outbound/main/source"
					},
					"DestinationFolder": {
						"type": "String",
						"defaultValue": "uem/dev/edgenta/azure/outbound/main/destination/ross"
					},
					"LogFolder": {
						"type": "String",
						"defaultValue": "uem/dev/edgenta/azure/outbound/log/"
					},
					"SourceArchiveFolder": {
						"type": "String",
						"defaultValue": "uem/dev/edgenta/azure/outbound/archive/source"
					},
					"Department": {
						"type": "String",
						"defaultValue": "scm"
					},
					"DestinationArchiveFolder": {
						"type": "String",
						"defaultValue": "uem/dev/edgenta/azure/outbound/archive/destination/ross"
					},
					"StagingFolder": {
						"type": "String",
						"defaultValue": "uem/dev/edgenta/azure/outbound/main/source"
					},
					"ScheduleType": {
						"type": "String",
						"defaultValue": "1"
					},
					"SourceSystem": {
						"type": "String",
						"defaultValue": "ORACLE"
					},
					"DestinationSystem": {
						"type": "String",
						"defaultValue": "ROSS"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/GENERAL_DIR')]"
			]
		}
	]
}